<form #formCtrl="ngForm">
  <div class="form-group">
    <label for="name">Name: </label>
    <input type="text" [(ngModel)]="todo.name" placeholder="write Todo...." class="form-control" required pattern="[a-zA-Z][a-zA-Z ]+" name="name" #name="ngModel" />
    <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
      <div [hidden]="!name.hasError('required')">Name is required</div>
      <div [hidden]="!name.hasError('pattern')">Only alphabetsallowed</div>
    </div>
  </div>
  <div><button (click)="add(todo)" class="btn btn-success btn-block" [disabled]="!formCtrl.form.valid">Save</button>
  </div>
</form>